* {
    box-sizing: border-box;
}


a {
    text-decoration-line: none;
    color: black;
}


.entire {
    width: 80%;
    margin: 0 auto;
}

.logo{
    cursor: pointer;
    text-align : center;
}


.flex-item{
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    justify-content : space-evenly;
    align-items : center;

}



button[data-filter="축제"]:focus ~ div:not([class*="축제"]) {
    display:none;
  }

button[data-filter="전시"]:focus ~ div:not([class*="전시"]) {
    display:none;
  }
  
button[data-filter="연극"]:focus ~ div:not([class*="연극"]) {
    display:none;
  }
  
button[data-filter="프로그램"]:focus ~ div:not([class*="프로그램"]) {
    display:none;
  }

  button[data-filter="라이브"]:focus ~ div:not([class*="라이브"]) {
    display:none;
  }

  button[data-filter="기타"]:focus ~ div:not([class*="기타"]) {
    display:none;
  }


.filteredList {
    background-color: aqua;
}


    .filteredList img {
        align-items: center;
        width: 300px;
        height: 300px;
    }

