* {
    box-sizing: border-box;
}


a {
    text-decoration-line: none;
    color: black;
}


.entire {
    width: 80%;
    margin: 0 auto;
}

.logo{
    cursor: pointer;
    text-align : center;
}


.flex-item{
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    justify-content : space-evenly;
    align-items : center;

}


.hidden {
    display: none;
  }



.filters button {
    font-size: 14px;
    border-radius: 50px;
    background-color: rgb(4, 0, 255);
    color: rgb(255, 255, 255);
    width: 70px;
    height: 30px;
    border: none;
}



.list {
    display : flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}


.list img {
    width: 350px;
    height: 350px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


.list p {
    font-size: 13px;
    line-height: 10px;
}